:root {
  /* ### colors  */
  /* ##primary  */
  /* hsl values */
  --clr-palette-primary-hsl-300: 166, 100%, 37%;
  --clr-palette-primary-hsl-400: 0, 100%, 67%;
  --clr-palette-primary-hsl-600: 39, 100%, 56%;
  --clr-palette-primary-hsl-800: 234, 85%, 45%;

  --clr-palette-primary-300: hsl(var(--clr-palette-primary-hsl-300));
  --clr-palette-primary-400: hsl(var(--clr-palette-primary-hsl-400));
  --clr-palette-primary-600: hsl(var(--clr-palette-primary-hsl-600));
  --clr-palette-primary-800: hsl(var(--clr-palette-primary-hsl-800));

  /* gradients  */

  --clr-palette-gradient-400: hsl(252, 100%, 67%);
  --clr-palette-gradient-600: hsl(241, 81%, 54%);

  --clr-palette-gradient-700: hsl(256, 72%, 46%);
  --clr-palette-gradient-900: hsla(241, 72%, 46%, 0);

  --clr-palette-gradient-1: linear-gradient(
    180deg,
    var(--clr-palette-gradient-400) 0%,
    hsl(252, 100%, 63%) 0.01%,
    var(--clr-palette-gradient-600) 100%
  );

  --clr-palette-gradient-2: linear-gradient(
    180deg,
    var(--clr-palette-gradient-700) 0%,
    var(--clr-palette-gradient-900) 100%,
    var(--clr-palette-gradient-900) 100%
  );

  /* neutral  */
  --white: hsl(0, 0%, 100%);
  --clr-palette-neutral-hsl-50: 222, 100%, 96%;
  --clr-palette-neutral-hsl-100: 241, 100%, 89%;
  --clr-palette-neutral-hsl-800: 224, 30%, 27%;

  --clr-palette-neutral-50: hsl(var(--clr-palette-neutral-hsl-50));
  --clr-palette-neutral-100: hsl(var(--clr-palette-neutral-hsl-100));
  --clr-palette-neutral-800: hsl(var(--clr-palette-neutral-hsl-800));

  /* ### Notes */
  /* Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`. */

  /* ### Typography */

  /* ## Body Copy */
  /* - Font size (paragraphs): 18px */

  --fs-xl: 3.5rem;
  --fs-l: 1.5rem;
  --fs-m: 1.125rem;
  --fs-s: 1rem;
  --fs-body: 1rem;
  --fs-btn: 1.125rem;

  /* ## Font */
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;

  --ff-primary: "Hanken Grotesk", sans-serif;
  --br: 2rem;
  --box-shadow: 0px 1.875rem 3.75rem 0px hsla(224, 82%, 58%, 0.15);
}

@media (min-width: 48rem) {
  :root {
    --fs-xl: 4.5rem;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
    --fs-s: 1.125rem;
    --fs-body: 1.125rem;
  }
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: var(--clr-palette-neutral-50);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-500);
  line-height: 1.5em;
  min-height: 100vh;
}

@media (min-width: 48em) {
  body {
    /* display: grid;
    justify-items: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* any ul that has a class on it has these properties */
ul[class] {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block; /* this is something you'll use often but more optional*/
}

/*
Flow content:
consistency using utilities classes to behave like regular flow content when we have done some CSS resetting. 
Layout Land and Cube CSS
*/
.spacer > * + * {
  margin-top: 1rem;
}

/* fonts  */
.fs-xl {
  color: var(--clr-heading);
  font-size: var(--fs-xl);
  font-weight: var(--fw-800);
}
.fs-l {
  color: var(--clr-heading);
  font-size: var(--fs-l);
  font-weight: var(--fw-700);
}

.fs-m {
  color: var(--clr-heading);
  font-size: var(--fs-m);
  font-weight: var(--fw-700);
}

.fs-s {
  color: var(--clr-heading);
  font-size: var(--fs-s);
  font-weight: var(--fw-500);
}

.fs-btn {
  font-size: var(--fs-btn);
}

/* card component  */

.card {
  --accent: var(--clr-palette-gradient-600);
  --clr-fg-light: hsl(var(--clr-palette-neutral-hsl-800), 0.5);
  --clr-fg-accent: var(--clr-palette-neutral-100);
  --circle: var(--clr-palette-gradient-2);

  box-shadow: var(--box-shadow);
  text-align: center;
  overflow: hidden;
  background-color: white;
}

@media (min-width: 48em) {
  .card {
    width: clamp(20ch, 90%, 46rem);
    border-radius: var(--br);
    display: flex;
  }
}

.card__result {
  padding: 1.5rem 3.5625rem 2.5rem;
  border-radius: 0 0 var(--br) var(--br);
}

.result--accent {
  --clr-heading: var(--white);

  background: var(--clr-palette-gradient-1);
  color: var(--clr-fg-accent);
}

.result__content--title {
  margin-bottom: 0.5rem;
}

.result--accent .fs-m {
  color: var(--clr-fg-accent);
}

.result__score {
  color: hsl(var(--clr-palette-neutral-hsl-100), 0.51);
  font-weight: var(--fw-700);
  margin: 1.5rem auto 1.5rem;
  line-height: 1.3;
}

.circle {
  --br: 50%;
  width: 8.75rem;
  height: 8.75rem;
  background: var(--circle);
  border-radius: var(--br);
  display: grid;
  place-content: center;
  margin: 1.5rem auto;
}

.fs-score-num {
  display: block;
  line-height: 1;
  margin-bottom: 0.25rem;
}

.card__summary {
  padding: 1.5rem 1.875rem 1.875rem;
  text-align: left;
  /* flex: 1; */
}

.summary__components--wrapper > .summary__component {
  --br: 0.75rem;
  --reaction-bg: hsl(var(--clr-palette-primary-hsl-400), 0.1);
  --memory-bg: hsl(var(--clr-palette-primary-hsl-600), 0.1);
  --verbal-bg: hsl(var(--clr-palette-primary-hsl-300), 0.1);
  --visual-bg: hsl(var(--clr-palette-primary-hsl-800), 0.1);
  /* --memory-bg: ; */

  width: max(100%, 18rem);
}

.summary__component {
  display: flex;
  align-items: center;
  background: var(--clr-palette-neutral-100);
  padding: 1.0625rem 1rem 1rem;
  border-radius: var(--br);
}

.card__summary--light {
  --clr-heading: var(--clr-palette-neutral-800);
  color: var(--clr-fg-light);
}

.summary__component--reaction {
  background: var(--reaction-bg);
}

.summary__component--memory {
  background: var(--memory-bg);
}

.summary__component--verbal {
  background: var(--verbal-bg);
}

.summary__component--visual {
  background: var(--visual-bg);
}

.summary__title {
  margin-bottom: 1.5rem;
}

.reaction__title {
  color: var(--clr-palette-primary-400);
}

.memory__title {
  color: var(--clr-palette-primary-600);
}

.verbal__title {
  color: var(--clr-palette-primary-300);
}

.visual__title {
  color: var(--clr-palette-primary-800);
}

.visual {
  margin-bottom: 0;
}

.summary__score--num {
  /* display: inline-block; */
  margin-right: 0.25rem;
}

.btn {
  display: inline-block;
  margin: 1.5rem 0 0;
}

.summary__component > img,
.summary__component > img,
.summary__component > img,
.summary__component > img {
  margin-right: 0.75rem;
}

.reaction__score--num.fs-s,
.memory__score--num.fs-s,
.verbal__score--num.fs-s,
.visual__score--num.fs-s {
  font-weight: var(--fw-700);
}

.summary__component--reaction > p,
.summary__component--memory > p,
.summary__component--verbal > p,
.summary__component--visual > p {
  margin-inline-start: auto;
}

.result__content--body {
  max-width: 16.25rem;
  margin: 0 auto;
}

.btn {
  --br: 8rem;

  cursor: pointer;
  width: max(100%, 18rem);
  background: var(--clr-palette-neutral-800);
  color: var(--white);
  border: none;
  margin-top: 1.5rem;
  padding: 1.0625rem 0;
  box-shadow: var(--box-shadow);
  border-radius: var(--br);
}

.attribution {
  position: absolute;
  inset: auto auto 0;
  font-size: 0.6875rem;
  margin-inline: 0 auto;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 48em) {
  body {
    line-height: 1.32;
  }

  .card__result {
    border-radius: var(--br);
    padding: 2.375rem 3.375rem 2.875rem;
  }

  .card__result,
  .card__summary {
    flex: 50%;
  }

  .circle {
    width: 12.5rem;
    height: 12.5rem;
    margin: 2.1875rem auto 1.75rem;
  }

  .result__content--title {
    margin-bottom: 1.25rem;
  }

  .card__summary {
    padding: 2.375rem 2.5rem 2.875rem;
  }

  .summary__title {
    margin-bottom: 1.75rem;
  }

  .btn {
    margin-top: 2.5625rem;
  }

  .btn:active,
  .btn:hover {
    background: var(--clr-palette-gradient-1);
  }
}
